.future-title {
    font-size: 55.56px;
    font-family: "Acrom";
    color: rgb(255, 255, 255);
    background-color: black;
    font-weight: bold;
    line-height: 1.17;
    margin-bottom: 54px;
    width: 570px;
}