.title-course{
    font-size: 18.4px;
    font-family: "Acrom";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.17;
    margin-bottom: 30px;
}
.title-bold{
    background: #000;
    color: #fff;
}
h1{
    font-size: 55.5px;
    margin-bottom: 64px;
    line-height: 1.4;
    font-weight: 900;
}
.title-text{
    font-size: 21px;
    width: 424px;
    margin-bottom: 30px;
}
.title-info{
    display: flex;
}