.vector-obj{
    display: flex;
    padding-top: 12px;
}
.mail{
    width: 15px;
    height: 11px;
    margin: 2px 6px 0 0;
}
.mail-text{
    font-family: "Acrom";
    font-size: 10.5px;
    padding: 2px;
    font-weight: 800;
}