.price{
    font-family: "Acrom";
    font-weight: 900;
    font-size: 12.5px;
    margin-top: 48px;
    width: 50%;
    text-align: left;
    text-indent: 6px;
    line-height: 1.433;
    text-transform: uppercase;
}
.price-course{
    width: 416px;
    height: 304px;
    margin: 0 auto 56px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.price-start{
    display: flex;
}
.price-about{
    font-family: "Acrom";
    font-weight: 900;
    font-size: 12.5px;
    margin-top: 48px;
    width: 50%;
    text-align: right;
}
.price-about p{
    margin-bottom: 24px;
    line-height: 1.433;
    text-transform: uppercase;
}